#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.table-custom{
    width: 500px;
    text-align: center;
}

td{
    vertical-align: middle;
}

.button-custom{
    margin: 0 5px;
}

.button-custom img{
    width: 30px;
    margin: 0;
    vertical-align: center;
    display: inline;
}

.button-custom-add{
    width: 100%;
}