#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table-custom {
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.button-custom {
    margin: 0 5px;
}

.button-custom-blue {
    background-color: var(--light-blue);
}

.button-custom-blue:hover {
    background-color: #476072;
}

.button-custom-blue:active {
    background-color: var(--blue) !important;
}

#button-add {
    width: 100%;
    max-width: 175px;
}

.modal-custom-header {
    background-color: var(--blue);
    color: white;
}
