* {
    margin: 0;
    padding: 0;
    font-family: 'General Sans', sans-serif;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    padding: 0 20px;
    background-color: ghostwhite;
}

:root {
    /* ovdje definisite konstante boje i sl. koje cete koristiti na vise mjesta */
    --blue: #334257;
    --light-blue: #548CA8;
    --dark-blue: #476072;
}