body {
    background-image: url(https://wallpapercave.com/wp/wp9723565.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.6); /* Dodao blijedu boju pozadine sa transparentnošću */
}