#root-displays {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table-custom-displays {
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.button-custom-displays {
    margin: 0 5px;
}

.button-custom-blue-displays {
    background-color: var(--light-blue);
}

.button-custom-blue-displays:hover {
    background-color: #476072;
}

.button-custom-blue-displays:active {
    background-color: var(--blue) !important;
}

#button-add-displays {
    width: 100%;
    max-width: 175px;
}

.modal-custom-header-displays {
    background-color: var(--blue);
    color: white;
}
