.form-container {
    width: 70%;
    height: 70vh; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eeeeee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; 
  }
  
  .heading2{
    margin: 0;
    position: absolute; 
    left:50%;
    transform: translate(-50%);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-size: larger;
    text-align: center;
  }
  
  input[type="text"],
  input[type="file"],
  textarea,
  select {
    width: 86%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
    margin-top: 2%;
  }
  
  input[type="file"] {
    padding: 5px;
  }
  
  img {
    display: block;
    max-width: 100%;
    margin-top: 10px;
  }
  
  .left-column {
    width: 50%;
  }
  
  .left-column label {
    text-align: center; 
  }

  .right-column {
    width: 50%;
  }
  
  .right-column form-group {
    margin-left: 10px; 
  }
  
  .right-column label {
    text-align: center; 
  }
  
  .right-column input,
  .right-column textarea,
  .right-column select {
    width: calc(100% - 20px); 
  }
  
  button[type="submit"] {
    display: block;
    width: 15%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .logo{
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .welcome-message{
    margin: 0 auto;
    width: 300px;
    height:200px;
    margin-top: 2%;
    overflow: auto; 
    max-height: 200px; 
    border: solid 1px black;
  }

  .form-select{
    width: 105%;
  }